

.land_main {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    min-width: 200px;
    max-width: 800px;
    margin: 15% auto;
}

.land_h1 {
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.gradient {
    background: linear-gradient(to right, #3685fb, #3685fb, #ac36fb, #ac36fb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.body_text {
    margin: 3em auto;
    text-align: center;
    color: #646464;
    font-size: .8rem;
}

 .land_button {
    margin: 2rem auto;
    padding: .2rem 1rem;
    background-color: #3685fb;
    color: #ffffff;
    border-radius: 1rem;
    font-weight: 600;
    border: 2px solid #3685fb;
    transition: color 0.4s, background-color 0.4s;
  
  }
  
  .land_button:hover {
    background-color: transparent;
    border-color: #3685fb;
    color: #000000;
  }