  .login_div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20rem;
    min-width: 15rem;
    margin: 0 auto;
    background-color: #dfdfdf
  }
  
  .login_h1 {
    margin: .75rem 0;
    padding: 0;
    font-weight: 800;
  }
  
  .login_p {
    margin: 0 0 1rem;
    padding: 0;
    font-size: 0.8rem;
  }

  .login_a {
    text-decoration: underline transparent;
    color: #000000;
    transition: text-decoration-color 0.4s, color 0.4s;
  }

  .login_a:hover {
    color: #3685fb;
    text-decoration-color: #3685fb;
  }
  
  .login_form {
    width: 90%;
  }
  
  .login_label {
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .login_fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    border: none;
  }
  
  .login_input {
    width: 100%;
    margin: .2rem auto .75rem;
    padding: .35rem;
    border: 1px solid #b9b9b9;
    border-radius: .2rem;
    background-color: #ffffff;
  }
  
  .login_submit_btn {
    border: none;
    padding: .75rem;
    margin: 0.2rem 0;
    color: #ffffff;
    background-color: #3685fb;
    font-weight: 600;
  }
  
  .login_reset_btn {
    border: none;
    padding: .75rem;
    margin: 0 0 1rem;
    color: #ffffff;
    background-color: #fb3636;
    font-weight: 600;
  }
  
  
  