* {
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

body {
  background-image: url("../public/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
